@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 140px;
    margin-bottom: 28px;
}

#background-image {
    background-image: url('../images/abelhas.png');
    background-size: cover;
    background-position: center top;
    height: 400vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin: 0px;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Average', serif;
    font-size: 70px;
    line-height: normal;
    text-align: center;
    font-weight: 80;
}

p {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    color: #000;
    font-family: 'Average', serif;
    font-size: 16px;
}

#p-atividades{
    margin-bottom: 50px;
}

.boxes-container {
    display: flex;
    height: 650px;
    background-color: rgb(255, 255, 255);
    margin-right: 720px;
    width: 450px;
}

.boxes-img{
    width: 550px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    border-style: outset;
    border-radius:8px;
    border-color: rgba(19, 19, 19, 0.252);
    margin-bottom: 80px;
}

.boxes-img:not(:nth-child(2)){
    margin-left: 0px;
    margin-right: 40px;
    padding: 0px;
    margin-top: 0px;
}

.boxes-img:not(:first-child){
    margin-left: 40px;
    margin-right: 38px;
    padding: 0px;
    margin-top: 90px;
}

#img-inside{
    border-radius:8px;
    background-color: green;
    height: 275px;
    width: 546px;
    margin-left: 0.3px;
}

#p-inside{
    margin-left: 16px;
    margin-right: 2px;
}

footer {
    width: 100%;
    background-color: #265917;
    height: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100vw;
}

#div-mainf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 80px;
    margin-bottom: 0px;
    width: 100%;
}

.main-footer {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    margin-bottom: 3px;
    margin-top: 20px;
}

#div-mainf:nth-child(4) {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    margin-bottom: 3px;
    margin-top: 20px;
    margin-right: 0px;
}
#div-unique {
    margin-top: 0px;
    background-color: #265917;
    clear: both;
    padding: 0px;
    width: 100%;
    padding: 0;
}

#div-unique p {
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-size: 13px;
}

#rect{
    margin-top: 28px;
    width: 5px;
    height: 130px;
    margin-left: 150px;
    padding: 0px;
    background-color: #ffff;
}

.main-f {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    margin-top: 22px;
    margin-bottom: 3px;
}

#face {
    float: left; 
    margin-right: 20px; 
}
