#footer,header{
    margin-left: 0!important;
}

body,
html {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9!important;
}

/* Header */
a:link:not(#parceirosTexto a,footer p, footer a) {
    color: #000!important;
    text-decoration: none!important;
}

a:visited:not(#parceirosTexto a) {
    color: #000!important;
    text-decoration: none!important;
}

a:hover:not(#parceirosTexto a) {
    color: #000!important;
    text-decoration: none!important;
}

header a:not(#logo, #entrar,#en a,#br a) {
    border-bottom: 3px solid transparent; /* Set initial transparent underline */
    transition: 0.3s ease; /* Add a smooth transition effect */
}

header a:not(#logo, #entrar,#en a,#br a):hover {
    border-bottom: 3px solid #265917;
}


.navbar-logo{
    color: #265917;
    font-size: 16px;
}

.linhaVerticalNav{
    height: 20px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #000;
}

.botaoVerde {
    color: #fff;
    padding: 9px 25px!important;
    background-color: #265917;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #5DB256
}

#lang {
    width: 78px;
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    position:relative
}

#lang-en {
    width: 80px;
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    position:relative
}

#lang-en .selected-lang{
    display: flex;   
    justify-content: space-between;
    line-height: 1.5;
    cursor: pointer;
}

#lang .selected-lang{
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

#lang-en .selected-lang:before  {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/US/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#lang .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/BR/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.selected-lang{
    margin: 0!important;
    padding: 0!important;
}


#lang ul,#lang-en ul {
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 28px;
    left: 0px;
    right: 30px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#lang ul li,#lang-en ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#lang ul li a,#lang-en ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

#lang ul li:hover,#lang-en ul li:hover {
    background-color: #76d16e
}

#lang ul li a:before,#lang-en ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

#lang ul li a.en:before,#lang-en ul li a.en:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url(https://flagsapi.com/US/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#lang ul li a.br:before,#lang-en ul li a.br:before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url(https://flagsapi.com/BR/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#lang:hover ul,#lang-en:hover ul {
    display:block;
}
/* Footer */
.footer{
    background: #265917;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    margin-top: 0px;
}

.footer a{
  color: white!important;
}

.textoFooter{
    color: white;
}

.linksFooter{
    color: white;
}

.linksFooter:link {
    color: white;
}

.linksFooter:visited {
    color: white;
}

.logosFooter{
    background-color: transparent;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.linhaVertical{
    height: 20px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: white;
}

.direitosReservados{
    color: #F9F9F9;
    font-size: 13px;
}

/* Body */
.textDoar p{
    font-size: 28px;
    font-weight:600;
}

p{
    color: #000;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.botaoAtividade:hover{
    background-color: #daf1ba;
}

.botaoEspecies:hover{
    background-color: #daf1ba;
}

.botaoAtividade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-family: 'Poppins', sans-serif;
    padding: 9px 25px;
    background-color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 294px;
    height: 131px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.imgAtividades {
    max-height: 100%; 
}

.buttonText {
    margin-right: 18px; 
    flex-grow: 1; 
}

#image-switch{
    width: 2200px;
    height: 500px;
}


.imgAtividades{
    width: 74px;
    height: 73px;
    flex-shrink: 0;
}

/* .botoesEspecies{
    position: relative;
} */

.botaoEspecies{
    color: #000;
    font-family: 'Poppins', sans-serif;
    padding: 9px 25px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 482px;
    height: 342px;
    flex-shrink: 0; 
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}
/* .primeiroElemento{
    width: 235.344px;
    height: 238.911px;
    z-index: 0;
    left: 130px;
    position: relative;
    right: 40px;
    top: 240px;
}

.segundoElemento{
    width: 235.344px;
    height: 238.911px;
    z-index: 0;
    left: 130px;
    position: relative;
    right: 40px;
    top: 240px;
} */

/* .conjDoisEspecies{
    position: relative;
} */

.imgEspecies{
    width: 319px;
    height: 203px;
    flex-shrink: 0;
}

.funsai{
    width: 744px;
    height: 276px;
    flex-shrink: 0;}

.ICC{
    width: 637px;
    height: 255px;
    flex-shrink: 0;
}

.aquario{
    width: 454px;
    height: 384px;
    flex-shrink: 0;
}

.sempreSustentavel{
    width: 393px;
    height: 245px;
    flex-shrink: 0;
}

.mudaIpiranga{
    width: 225px;
    height: 225px;
    flex-shrink: 0;
}

.escolaComunitaria{
    width: 264px;
    height: 226px;
    flex-shrink: 0;
}

.sos{
    width: 449px;
    height: 245px;
    flex-shrink: 0;
}

.orquidea{
    width: 278px;
    height: 276px;
    flex-shrink: 0;
}

